.app-download{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.app-download-platforms{
    display: flex;
    gap: 20px;
}

.app-download-platforms img{
    height: 50px;
    border-radius: 10px;
}

.app-download-platforms img:hover{
    box-shadow: 0px 0px 20px 1px rgb(85, 82, 90);
    scale: 1.05;
}