.explore-menu{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap:2vw;
}
.explore-menu-text{
    width: 70%;
}
.explore-menu-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap:5vw;
}
.explore-menu-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explore-menu-list-item img{
    border-radius: 50%;
    height: 80px;
}
.explore-menu-list-item .active{
    border: 1.8px solid red;
    box-shadow: 1px 1px 20px 5px plum;
}
@media (max-width:300px) {
    .explore-menu{
        margin: 10px auto;
        h1{
            font-size: 30px;
        }
    }
    .explore-menu-text{
        width: 90%;
        padding: 10px;
    }
    .explore-menu-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        align-items: center;
        gap:2vw;
    }
    .explore-menu-list-item{
        width: 100%;
        text-align: center;
    }
    .explore-menu-list-item img{
        height: 60px;
    }
        
}